.form-contato {
    max-width: 520px;
    margin: 40px auto;
    background: rgb(224, 238, 255); 
    padding: 30px;
    border-radius: 14px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 20px; 
    box-sizing: border-box; 
}

.form-contato h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    color: rgb(79, 79, 255); 
    font-size: 32px;
}

.form-contato input,
.form-contato textarea,
.form-contato button {
    width: 100%;
    box-sizing: border-box; 
}

.form-contato input,
.form-contato textarea {
    padding: 14px;
    border-radius: 10px;
    border: 2px solid rgb(140, 192, 255); 
    font-size: 16px;
    outline: none;
    font-family: "Lora", serif;
    background: white; 
}

.form-contato input:focus,
.form-contato textarea:focus {
    border-color: rgb(79, 79, 255); 
}

.form-contato button {
    padding: 14px;
    background: rgb(79, 79, 255); 
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.form-contato button:hover {
    background: rgb(40, 40, 180); 
}
