
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(140, 192, 255);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-right: 130px;
}

header {
    background-color: rgb(140, 192, 255);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
}

header h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-family: "Dosis", sans-serif;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: -80px;
    margin-left: 300px
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    
}

nav ul li a:hover {
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 8, 91);
}

.logo {
    width: 100%;
    margin-top: 40px;
    margin-left: 60px;
    
}


.principal {
    text-align: center;
    padding: 40px 20px 20px 20px;
    color: rgb(0, 0, 0);
    font-family: "Dosis", sans-serif;
    background-color: rgb(140, 192, 255);
    font-size: 0px;
}


.principal h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Dosis", sans-serif;
    color: rgb(0, 0, 110);
    margin-top: -40px;
}


.principal p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}


.secao {
    padding: 50px 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(140, 192, 255);
    font-size: 20px;
}


.secao h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Dosis", sans-serif;
    color: rgb(0, 0, 110);
}

.secao ul li {
    margin: 10px;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}


footer {
    background: #4f4fff;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.img-carrossel {
    width: 100%;
    height: 400px;  
    object-fit:cover;
    display: block;
}

