
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(140, 192, 255);
}


.abanavegacao {
    background-color: rgb(140, 192, 255);
}

.abanavegacao:hover {
    color: #4f4fff;
}


.logo {
    width: 300px;    
    height: auto;   
    display: block;
    margin: 0 auto;  
    padding: 10px 0;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(79, 79, 255);
    padding: 10px 0;
    margin: 0;
}


nav a {
    text-align: center;
    margin: 15px; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Lora", serif;
    font-size: 20px;
}


.principal {
    text-align: center;
    padding: 40px 20px 20px 20px;
    color: rgb(0, 0, 0);
    font-family: "Dosis", sans-serif;
    background-color: rgb(140, 192, 255);
    font-size: 0px;
}


.principal h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Dosis", sans-serif;
    color: rgb(0, 0, 110);
    margin-top: -40px;
}


.principal p {
    font-size: 22px;
    font-family: "Lora", serif;
}


.secao {
    padding: 50px 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(140, 192, 255);
    font-size: 20px;
}


.secao h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Dosis", sans-serif;
    color: rgb(0, 0, 110);
}

.secao ul li {
    margin: 10px;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}


footer {
    background: #4f4fff;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: "Lora", serif;
    font-size: 20px;
}

.img-carrossel {
    width: 100%;
    height: 400px;  
    object-fit:cover;
    display: block;
}

